<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.apache.plugin.luizheming.settings" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Settings</name><description>Plugin que possibilita visualizar as configuracoes do dispositivo</description><js-module name="Settings" src="www/Settings.js"><clobbers target="cordova.plugins.Settings" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Settings"><param name="android-package" value="org.apache.plugin.luizheming.settings.Settings" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Settings.java" target-dir="src/org/apache/plugin/luizheming/settings/Settings" /></platform></plugin>